body {
    font-family: "Open Sans", sans-serif;
    background-image: linear-gradient(to right,#5c5959, #593f83, #214853);
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #252527;
}

header h2 {
    color: #CEC8FF;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #45397e, #0a0a0a, #60106B);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
    background-color: linear-gradient(to right, #050505, #45397e, #CEC8FF);
}

.navbar {
    background-color: #642774;
}

.tab-content {
    border: 1px solid #3d3333;
    border-top: none;
    padding: 10pm;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.caarousel {
    border: solid #5637DD;
}